:root{
    --brand-white: #FFFFFF;
    --brand-tomato: #FF6C00;
    --brand-pre: rgba(157, 164, 189, 0.6);
    --brand-gray: #9DA4BD;
    --brand-black-title: #303030;
    --brand-black-text: #555555;
    --brand-backgraund:#F7F7F7;

}
body{
    
    font-family: 'Open Sans', sans-serif;
    color: var(--brand-black-title);
    
    
}
 p, h1,h2,h3,h4,h5,h6{
margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    border: 1px solid tomato;

}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
/* header */
li{
   list-style-type: none;
   
}
.link{
    text-decoration: none;
    
}

.header{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    position: absolute;
    width: 100%;
    top: 0;
}
.header-cont{
    display: flex;
    align-items: center;
}
.link-logo{
    margin-right: 46px;
}
.header-list{
    display: flex;
   
    
}
.header-item{
    
}
.header-item + .header-item{
margin-left: 40px;
}
.header-link, .header-link-tel{
font-weight: 600;
font-size: 12px;
line-height: calc(16 / 12);
letter-spacing: 0.1em;
color: var(--brand-white);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link{
    position: relative;
    padding:20px 0;
}
.header-link:hover, .header-link:focus{
    color: var(--brand-tomato);
}
.header-link-tel:hover, .header-link-tel:focus{
    color: var(--brand-tomato);
}
.header-connect{
    margin-left: auto;
    align-items: center;
}
.header-link-tel{
    padding-top: 20px;
    padding-bottom: 20px;
}
.current::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--brand-tomato);
    border-radius:  4px;

}
.btn{
font-family: Open Sans;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: var(--brand-white);
cursor: pointer;
background-color: transparent;
border: 1px solid #FF6C00;
border-radius: 25px;
min-width: 160px;
padding-top: 12px;
padding-bottom: 12px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-btn{
    margin-left: 40px;
}
.btn:hover, .header-link:focus{
    background-color: var(--brand-tomato);
}
/*///////////////////////////// HERO ////////////////////////// */
.hero{
    
}
.hero-cont{
  display: flex;  
  
} 
.hero-left{
    width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}
.hero-list{
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
}
.hero-list::before{
content: '';

height: 1px;
width: 60px;
background-color: var(--brand-black-title);

}
.hero-item + .hero-item{
    margin-left: 40px;
    
    
}
.hero-item:first-child{
    margin-left: 40px;
}
.hero-right{
flex-grow: 1;
background-color: gray;
padding: 272px 0 208px 96px;
background-image: url(/img/Slider\ img\ 1.jpg);
background-repeat: no-repeat;
background-position:  center;
background-size:cover;


    
}
.hero-link{
font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.2em;
color:var(--brand-black-title);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-link:hover, .hero-link:active{
    color: var(--brand-tomato);
}
.hero-pre-title{
    display: flex;
    align-items: center;
    
}
.hero-pre-title::before{
    content: '';
    height: 1px;
    width: 63px;
    background: rgba(157, 164, 189, 0.6);
    margin-right: 21px;
}
.pre{
margin-bottom: 20px;
font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.1em;
text-transform: uppercase;
color: rgba(157, 164, 189, 0.6);
}
/*///////////////////////////// ABOUT ////////////////////////// */
.about{
    padding-top: 139px;
    padding-bottom: 121px;
}
.about-pre, .prices-pre-title{
    color: rgba(157, 164, 189, 0.6);
    display: flex;
    align-items: center;
}
.about-pre::before{
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color:var(--brand-black-title);
}
.prices-pre-title::before{
content: '';
width: 60px;
height: 1px;
background: rgba(157, 164, 189, 0.6);
margin-right: 20px;
}
.hero-title{
margin-bottom: 20px;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: calc(85 / 75);
letter-spacing: 0.05em;
color: var(--brand-white);
}
.hero-sap-text{
    font-size: 18px;
line-height: calc(30 / 18);
letter-spacing: 0.02em;
color: var(--brand-gray);
width: 400px;
}
.text{
    font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--brand-gray);
}

.about-cont{
    display: flex;
}
.about-list{
    display: flex;
    
}
.about-item:first-child{
    margin-right: 30px;
}
.about-cont-two{
    margin-left: 65px;
    width: 500px;
}
.about-btn{
    
}
.about{
    background-color: var(--brand-white);
}
.about-sup-text{
    color: var(--brand-black-text);
}
.title{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: var(--brand-black-title);
}
.about-pre{
    margin-bottom: 20px;
}

.about-title{
margin-bottom: 20px;
}
.about-text{
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.02em;
color: var(--brand-black-text);
}
.about-sup-text{
    margin-bottom: 20px;
}
.about-text{
    margin-bottom: 20px;
}
.about-btn{
    color: var(--brand-black-title);
    

}
/*/////////////////////// PRICES ///////////////// */
.prices{
    padding: 130px 0;
    background:#111319;
    background-image: url(/img/prices.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.prices-pre-title{
    color: rgba(157, 164, 189, 0.6);
}
.prices-title{
    color:var(--brand-white);
    text-align: start;
    margin-bottom: 44px;
}

.prices-btn{
    color: var(--brand-white);
    
}
.preces-value{
    display: flex;
    margin-bottom: 50px;

}
.prices-list{
    width: 50%;
    padding: 30px 40px;
}
.prices-list:nth-child(odd){
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:nth-child(even){
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    
   
}
.prices-item + .prices-item{
    margin-top: 20px;
}
.prices-item::before{
    content: '';
    
    background: rgba(157, 164, 189, 0.12);
    border-bottom: 1px solid rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
    flex-grow: 1;
    
}
.prices-text:first-child{
order: -1;
}
/*/////////////////////// REASONS //////////// */
.reasons{
    background-color: var(--brand-white);
    padding-top: 121px;
    padding-bottom: 130px;
}
.reasons-count{
    font-weight: bold;
font-size: 42px;
line-height: calc(57 / 42);
text-align: center;
letter-spacing: 0.05em;
}
.reasons-text{
font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);

}
.reasons-pre-title{
margin-bottom: 20px;
display: flex;
align-items: center;


}
.reasons-pre-title::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--brand-black-title);
    margin-right: 20px;
}
.reasons-title{
color: var(--brand-black-title);
margin-bottom: 20px;
}
.reasons-after-text{
    color: var(--brand-black-text);
}
.reasons-cont{
    display: flex;
    min-width: calc((100% - 30px) / 2);
    justify-content: space-between;
    
}
.reasons-left{
    justify-content: center;
}
.reasons-right{
   
}
.reasons-list{
   
    display: flex;
    flex-wrap: wrap;
}
.reasons-item{
    width: 170px;
    height: 133px;
    background-color:var(--brand-backgraund);
    text-align: center;
    padding: 20px 24px;
}
.reasons-item:nth-child(odd){
    margin-right: 30px;
}
.reasons-item:nth-child(even){
    margin-top: 30px;
}
.reasons-padding{
    padding: 20px 20px;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,MASTERS ,,,,,,,,,,,,,,,,,,,,,,,, */

.masters{
    background-color: var(--brand-backgraund);
    padding: 130px 0;
}
.masters-list{
    display: flex;
    margin-left: -30px;
    
}

.masters-item{
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    text-align: center;
}
.masters-pre-title{
color: var(--brand-black-title);
margin-bottom: 20px;
display: flex;
align-items: center;
}
.masters-pre-title::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color:var(--brand-black-title);
    margin-right: 20px;
    
    
    

}
.masters-title{
    margin-bottom: 44px;
}
.masters-man-title{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: calc(25 / 18);
letter-spacing: 0.02em;
}
.masters-work-text{
    font-size: 14px;
line-height: calc(19 / 14);
letter-spacing: 0.02em;
color: var(--brand-tomato);
margin-bottom: 30px;
}
.masters-list-icon{
    display: flex;
    justify-content: center;

}
.masters-item-icon{
    
    
}
.masters-item-icon + .masters-item-icon{
margin-left: 10px;
}
.masters-link-icon{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    display:flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.masters-icon{
    fill: currentColor;
}
.masters-link-icon:hover{
    color: #FF6C00;
}



/*/////////////////////// GALLERY //////////// */
.gallery{
    padding: 130px 0;
}
.gallery-pre-title{
    color: var(--brand-black-title);
    margin-bottom: 44px;
    display: flex;
    align-items: center;
}
.gallery-pre-title::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--brand-black-title);
    margin-right: 20px;

}
.gallery-list{
    display: flex;
    margin-left: -30px;
}
.gallery-item{
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
}



/* /////////////////CONTACTS ///////////// */
.contacts{
    padding: 130px 0;
}
.contacts-title{
    color: var(--brand-white);
}
address .link, .contacts-text{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--brand-gray);
}
.contacts-link-mail{
    text-decoration: underline;
}
.contacts-pre-title{
    color: var(--brand-white);
}
.footer-copy{
    font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.2em;
}
.contacts  .link{
    display: flex;
    align-items: center;
}
.contacts-icon{
    margin-right: 16px;
}

/* ////////////////FOOTER /////////////// */
.footer{
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    padding-top: 57px;
    padding-bottom: 55px;
    
}
.footer-link{
font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.2em;
color: var(--brand-black-title);
}
.footer-copy{
    color: var(--brand-gray);
}



/*////////// modal  /////////*/
.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #555555b2;
    
    transition: opacity 500ms, visibility 500ms;
    

}
.backdrop.is-hidden .modal{
    transform: rotate(-300deg) scale(0.5);

}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    min-height: 500px;
    border-radius: 10px;
    background-color: #ffffff;
    transform: translate(-50%, -50%) rotate(0) scale(1);
    transition: transform 500ms;
    padding: 40px;
    
    
}
.form{
   
    
}
.modal-btn{
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 5px;
}
.input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 15px;
}
.btn-modal{
    
    
    
}

