.reasons{
    background-color: var(--brand-white);
    padding-top: 121px;
    padding-bottom: 130px;
}
.reasons-count{
    font-weight: bold;
font-size: 42px;
line-height: calc(57 / 42);
text-align: center;
letter-spacing: 0.05em;
}
.reasons-text{
font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);

}
.reasons-pre-title{
margin-bottom: 20px;
display: flex;
align-items: center;


}
.reasons-pre-title::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--brand-black-title);
    margin-right: 20px;
}
.reasons-title{
color: var(--brand-black-title);
margin-bottom: 20px;
}
.reasons-after-text{
    color: var(--brand-black-text);
}
.reasons-cont{
    display: flex;
    min-width: calc((100% - 30px) / 2);
    justify-content: space-between;
    
}
.reasons-left{
    justify-content: center;
}
.reasons-right{
   
}
.reasons-list{
   
    display: flex;
    flex-wrap: wrap;
}
.reasons-item{
    width: 170px;
    height: 133px;
    background-color:var(--brand-backgraund);
    text-align: center;
    padding: 20px 24px;
}
.reasons-item:nth-child(odd){
    margin-right: 30px;
}
.reasons-item:nth-child(even){
    margin-top: 30px;
}
.reasons-padding{
    padding: 20px 20px;
}