:root{
    --brand-white: #FFFFFF;
    --brand-tomato: #FF6C00;
    --brand-pre: rgba(157, 164, 189, 0.6);
    --brand-gray: #9DA4BD;
    --brand-black-title: #303030;
    --brand-black-text: #555555;
    --brand-backgraund:#F7F7F7;
    --brand-bgr-contacts: #191C26;

}
$secondary-font: 'Raleway', sans-serif;
$primary-font: 'Open Sans', sans-serif;
